* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;

}

/* HEADER */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 150px;
}

.header-logo {
    font-size: 24px;
}

.header-logo,
.header-links {
    flex-shrink: 0;
}

.header-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-links li {
    list-style: none;
}

.header-links a {
    color: #F9FAF8;
    text-decoration: none;
}

/* HERO SECTION MAIN */
.hero-main,
.hero-header {
    display: flex;
}

.hero-header {
    flex-direction: column;
    justify-content: space-between;
}

.hero-header div {
    color: #F9FAF8;
}

.hero-main {
    height: 400px;
    padding: 0 150px;
    gap: 16px;
    background-color: #1F2937;
    align-items: center;
}

.hero-header,
.hero-image {
    flex: 1;
    width: 200px;
    height: 250px;
}

.hero-image {
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.hero-description {
    font-size: 18px; 
    color: #E5E7EB;
}

button {
    font-size: 18px;
    padding: 8px 32px;
    background-color: dodgerblue;
    color: #F9FAF8;
    border-style: none;
    border-radius: 8px;
}

/* HERO SECTION SECONDARY */
.hero-secondary {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
    
}

.hero-secondary-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-pic {
    height: 180px;
    width: 180px;
    border: 3px solid dodgerblue;
    border-radius: 16px;
    margin-bottom: 10px;
}

.information-cards {
    display: flex;
    gap: 32px;
}

.card-info {
    text-align: center;
}

/* QUOTE SECTION */
.quote-section {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 200px;
    gap: 8px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    margin-left: 70%;
}

/* SIGN UP SECTION */
.sign-up-section {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.sign-up-box {
    background-color: dodgerblue;
    height: 200px;
    width: 850px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.call-to-section div {
    color: white;
}

.its-time {
    font-size: 18px;
    font-weight: bolder;
}

.sign-up-section button {
    border: 3px solid white;
    font-size: 16px;
}
    
/* FOOTER */
.footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding: 24px 0;
    font-weight: lighter;
}
