* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;

}

/* HEADER */

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 150px;
}

.header-logo {
    font-size: 24px;
}

.header-logo,
.header-links {
    flex-shrink: 0;
}

.header-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-links li {
    list-style: none;
}

.header-links a {
    color: #F9FAF8;
    text-decoration: none;
}

/* MAIN PAGE */